* {
    padding: 0;
    margin: 0;
}

#main {
    margin: 5%;
    padding: 20px;
    min-height: 100px;

    background: rgb(245, 239, 151);
    border-radius: 20px;
    border: 2px #f8d5a0 solid;
    display: inline-block;
}

input {
    padding: 12px 40px;
    border-radius: 20px;
    border: 2px #f8d5a0 solid;

    font-size: 18px;
    color: #DAA520;
}

button {
    padding: 12px 20px;
    margin-left: 12px;

    background: white;
    border: 2px #f8d5a0 solid;
    border-radius: 20px;

    font-size: 18px;
    color: #DAA520;

    cursor: pointer;
    
    transition-duration: 0.2s;
}

button:hover {
    background: #f8d5a0;
    border: 2px white solid;
    color: white;
}

button:active{
    background: brown;
    border: 2px white solid;
    color: white;
}

ul {
    font-size: 24px;
    font-weight: bold;
    color: #D2691E;

    background: #FAFAD2;
    border-radius: 12px;

    padding: 12px 12px 2px;
    margin-top: 20px;
    min-height: 40px;
}

.li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.li::before{
    content: '';
    width: 8px;
    height: 8px;
    background: #f8d5a0;
    border-radius: 100%;
    margin-right: 8px;
}

.toDo {
    text-decoration: none;
}

.done {
    text-decoration: line-through;
    text-decoration-color: brown;
}